body{
    background-color: #e0ebf0;
}
.page{
    padding-bottom: 15pt;
    padding-left: 0;
    padding-right: 0;
    margin-top: 25pt;
    margin-bottom: 25pt;
    background-color: white;
    width: 70%;
    border-radius: 5pt;
    box-shadow: 1pt 2pt 5pt black;
}
header{
    padding: 15pt;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    border-radius: 5pt 5pt 0 0;
}
section{
    padding: 15pt;
}
.c-obj,.air{
    text-align: justify;
}
th, td{
    padding: 10pt;
}
th{
    background-color: lightgray;
}
